<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-5 mb-3">Gráfico de Mesas</h2>
        </div>
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a routerLink="/restaurantes" >Restaurantes</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Gráfico {{restaurant?.nombre}}</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row" [hidden]="loading">
        <div class="col-12">
            <h3 class="text-center text-primary font-weight-bold">{{restaurant?.nombre}}</h3>
            <p class="text-center text-muted mb-1"><i class="fas fa-map-marked mr-2"></i>{{restaurant?.direccion}}</p>
            <p class="text-center text-muted mb-3"><i class="fas fa-utensils mr-2"></i>{{mesas?.length}} mesa/s</p>
        </div>
        <div class="col-12">
            <div class="row mb-5">
                <div class="col-8 offset-2" *ngFor="let i of plantasMesas">
                    <div class="card my-2 shadow-sm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5>Planta {{i.planta}}</h5>
                                </div>
                                <div class="col-12">
                                    <div class="text-center">
                                        <canvas id="sigma-{{i.planta}}" width="300" height="200"></canvas>
                                    </div>
                                </div>
                                <div class="col-12" *ngFor="let j of i.mesas">
                                    <p class="mb-0"><span class="font-weight-bold text-primary">{{j.nombre}}</span> ({{j.posicionx}}, {{j.posiciony}}) <span class="text-muted font-weight-bolder">Capacidad {{j.capacidad}} persona/s</span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>