<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-5">Reservas</h2>
        </div>
        <div class="col-12">
            <button routerLink="/reservas/add" type="button" class="btn btn-primary mb-3"><i
                    class="fas fa-plus mr-1"></i>Agregar Reserva</button>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label class="text-primary">Restaurante</label>
                            <div class="input-group mb-3">
                                <select [(ngModel)]="filtros.restaurante" class="custom-select" id="inputGroupSelect01">
                                    <option *ngFor="let res of restaurantes" value="{{res.id}}">{{res.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="text-primary">Fecha</label>
                            <div class="input-group mb-3">
                                <input [(ngModel)]="filtros.fecha" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="text-primary">Cliente</label>
                            <div class="input-group mb-3">
                                <select [(ngModel)]="filtros.cliente" class="custom-select" id="inputGroupSelect01">
                                    <option *ngFor="let cli of clientes" value="{{cli.id}}">{{cli.cedula}}
                                        {{cli.nombre}} {{cli.apellido}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="text-right">
                                <button (click)="filtrar()" type="button"
                                    class="btn btn-primary btn-sm mr-2">Buscar</button>
                                <button (click)="limpiar()" type="button"
                                    class="btn btn-secondary btn-sm">Limpiar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 10%;" scope="col">Nro. CI</th>
                        <th style="width: 20%;" scope="col">Cliente</th>
                        <th style="width: 20%;" scope="col">Restaurante</th>
                        <th style="width: 10%;" scope="col">Mesa</th>
                        <th style="width: 15%;" scope="col">Fecha</th>
                        <th style="width: 15%;" scope="col">Hora</th>
                        <th style="width: 10%;" scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reserva of reservas | paginate: { itemsPerPage: 10, currentPage: p }; index as j">
                        <!-- <th scope="row">{{j+1}}</th> -->
                        <td>{{reserva.Cliente.cedula}}</td>
                        <td>{{reserva.Cliente.nombre}} {{reserva.Cliente.apellido}}</td>
                        <td>{{reserva.Restaurante.nombre}}</td>
                        <td>{{reserva.Mesa.nombre}}</td>
                        <td class="text-center">{{reserva.fecha | date:'dd/MM/yyyy'}}</td>
                        <td class="text-center">{{rangoreserva[reserva.rangohora]}}</td>
                        <td class="text-center">{{reserva.cantidad}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior"
                    nextLabel="Siguiente">
                </pagination-controls>
                <p *ngIf="reservas?.length==0" class="text-muted">No se encontraron resultados</p>
            </div>
        </div>
    </div>
</div>