<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <a class="navbar-brand catamaran animate__animated animate__fadeInLeft" routerLink="">
    <img src="assets/img/dish.png" alt="Resto" style="width: 48px;height:auto;"> Resto App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/restaurantes">Restaurantes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/gestion-consumo">Gestión del consumo</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>