<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="mt-5 mb-3">Gestión del consumo</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="input-group">
                <ng-select (change)="buscarConsumos()" [items]="mesas" style="width: 100%;" [clearable]="true"
                [searchable]="true" bindLabel="search" bindValue="id" [clearable]="false"
                placeholder="Seleccione mesa" [(ngModel)]="mesa" appendTo="body">
                </ng-select>
            </div>
            <!-- <div class="text-right">
                <button (click)="buscarConsumos()" class="btn btn-sm btn-outline-secondary mt-2" type="button">Buscar</button>
            </div> -->
        </div>
    </div>
    <div class="row mb-5" *ngIf="consumos?.length > 0 && ready">
        <div class="col-12 col-md-6 offset-md-3 mt-3">
            <div class="alert alert-warning text-center" role="alert">
                ¡La mesa no encuentra disponible!<br>
                <!-- <button type="button" class="btn btn-sm btn-success mt-3">Agregar Consumo</button> -->
            </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1">
            <div class="card mb-3 shadow-sm" *ngFor="let i of consumos;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="text-center mb-0"><i class="fas fa-user mr-2"></i> {{i.Cliente?.nombre}}
                                {{i.Cliente?.apellido}}</h5>
                            <p class="mt-0 text-center"><small><b>Nro. CI</b> {{i.Cliente?.cedula}}</small></p>
                        </div>
                        <div class="col-12">
                            <p><b>Hora de inicio</b> {{i.creacionConsumo | date:'dd/MM/yyyy HH:mm:ss'}}</p>
                            <p><b>Total</b> PYG {{i.total}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p><b>Detalles</b> <a class="btn btn-success btn-sm mx-2" 
                                (click)="setModalAgregarDetalle(i)" data-toggle="modal" data-target="#modalDetalle"><i class="fas fa-plus"></i></a>
                            </p>
                        </div>
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th scope="col">Producto</th>
                                        <th scope="col">Cantidad</th>
                                        <th scope="col">Precio Unitario (PYG)</th>
                                        <th scope="col">Subtotal (PYG)</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let detalle of i.detalles; index as j;">
                                        <th class="text-center" scope="row">{{j+1}}</th>
                                        <td>{{detalle.Producto?.nombre}}</td>
                                        <td>{{detalle.cantidad}}</td>
                                        <td>{{detalle.Producto?.precio}}</td>
                                        <td>{{detalle.cantidad * detalle.Producto?.precio}}</td>
                                        <td class="text-center">
                                            <a (click)="deleteDetalle(i, detalle)" class="btn btn-danger btn-sm mx-2"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="setModalCliente(i)" data-toggle="modal" data-target="#modalCliente"
                        class="btn btn-primary float-right ml-2">Cambiar Cliente</a>
                    <a (click)="cerrarConsumo(i)" class="btn btn-secondary float-right">Cerrar consumo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5" *ngIf="consumos?.length == 0 && ready">
        <div class="col-12 col-md-6 offset-md-3 mt-3">
            <div class="alert alert-success text-center" role="alert">
                ¡La mesa se encuentra disponible!
            </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1">
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><b>Nuevo Cliente</b></p>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="cliente-cedula" class="col-form-label">Nro. CI</label>
                                                <input [(ngModel)]="addCliente.cedula" type="text" class="form-control"
                                                    id="cliente-cedula" name="cedula">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="cliente-nombre" class="col-form-label">Nombre</label>
                                                <input [(ngModel)]="addCliente.nombre" type="text" class="form-control"
                                                    id="cliente-nombre" name="nombre">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="cliente-apellido" class="col-form-label">Apellido</label>
                                                <input [(ngModel)]="addCliente.apellido" type="text" class="form-control"
                                                    id="cliente-apellido" name="apellido">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="text-center">
                                                <a (click)="guardarNuevoCliente()" class="btn btn-success mb-3">Guardar Cliente</a>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <p><b>Seleccionar cliente existente</b></p>
                                        </div>
                                        <div class="col-12">
                                            <div class="input-group mb-3">
                                                <ng-select [items]="clientes" style="width: 100%;" [clearable]="true"
                                                    [searchable]="true" bindLabel="search" placeholder="Seleccione cliente" [(ngModel)]="nuevoDetalleCliente">
                                                </ng-select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-12">
                                            <p><b>Datos de consumo</b></p>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="cliente-nuevo-consumo" class="col-form-label">Cliente</label>
                                                <input value="{{nuevoDetalleCliente?.cedula != null? nuevoDetalleCliente.cedula:''}}" readonly type="text" class="form-control"
                                                    id="cliente-nuevo-consumo" name="cliente-nuevo-consumo">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <p><b>Detalles</b> <a class="btn btn-success btn-sm mx-2" data-toggle="modal" data-target="#modalNuevoDetalle"><i class="fas fa-plus"></i></a>
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" scope="col">#</th>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio Unitario (PYG)</th>
                                                        <th scope="col">Subtotal (PYG)</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let detalle of nuevoDetalleProductos; index as j;">
                                                        <th class="text-center" scope="row">{{j+1}}</th>
                                                        <td>{{detalle.producto?.nombre}}</td>
                                                        <td>{{detalle.cantidad}}</td>
                                                        <td>{{detalle.producto?.precio}}</td>
                                                        <td>{{detalle.cantidad * detalle.producto?.precio}}</td>
                                                        <td class="text-center">
                                                            <a (click)="nuevoDetalleProductos.splice(j,1)" class="btn btn-danger btn-sm mx-2"><i class="fas fa-trash-alt"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a (click)="guardarConsumo()" class="btn btn-primary float-right ml-2">Guardar Consumo</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalCliente" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="modalClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalClienteLabel">Cambiar Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <p><b>Nuevo Cliente</b></p>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cliente-cedula" class="col-form-label">Nro. CI</label>
                                <input [(ngModel)]="addCliente.cedula" type="text" class="form-control"
                                    id="cliente-cedula" name="cedula">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cliente-nombre" class="col-form-label">Nombre</label>
                                <input [(ngModel)]="addCliente.nombre" type="text" class="form-control"
                                    id="cliente-nombre" name="nombre">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cliente-apellido" class="col-form-label">Apellido</label>
                                <input [(ngModel)]="addCliente.apellido" type="text" class="form-control"
                                    id="cliente-apellido" name="apellido">
                            </div>
                        </div>
                        <div class="col-12">
                            <p><b>Seleccionar cliente existente</b></p>
                        </div>
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <ng-select [items]="clientes" style="width: 100%;" [clearable]="true"
                                    [searchable]="true" bindLabel="search" bindValue="id"
                                    placeholder="Seleccione cliente" [(ngModel)]="nuevoCliente" appendTo="body">
                                </ng-select>
                            </div>
                            <!-- <ul class="list-group">
                            <li *ngFor="let i of clientes;" class="list-group-item">
                                <b>{{i.nombre}} {{i.apellido}}</b><br>Nro. CI {{i.cedula}}
                            </li>
                        </ul> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="createOrSelectCliente()" type="button" class="btn btn-primary btn-sm float-right"
                    data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalDetalle" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetalleLabel">Agregar Detalle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <ng-select (change)="changeProductoAgregarDetalle()" [items]="productos" style="width: 100%;" [clearable]="true"
                                    [searchable]="true" bindLabel="search"
                                    placeholder="Seleccione producto" [(ngModel)]="agregarDetalleObj.producto" appendTo="body">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cantidad" class="col-form-label">Cantidad</label>
                                <input (focusout)="agregarDetalleObj?.cantidad < 1 && agregarDetalleObj.cantidad = 0" [(ngModel)]="agregarDetalleObj.cantidad" type="number" class="form-control"
                                    id="cantidad" name="cantidad" min="0">
                            </div>
                        </div>
                        <div class="col-12" *ngIf="agregarDetalleObj?.producto != null && agregarDetalleObj?.cantidad != null && agregarDetalleObj?.cantidad > 0">
                            <p><b>Total</b> PYG {{agregarDetalleObj?.productoPrecio * agregarDetalleObj?.cantidad}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="agregarDetalle()" type="button" class="btn btn-primary btn-sm float-right"
                    data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalNuevoDetalle" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="modalNuevoDetalleLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevoDetalleLabel">Agregar Detalle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group mb-3">
                                <ng-select (change)="changeNuevoProductoAgregarDetalle()" [items]="productos" style="width: 100%;" [clearable]="true"
                                    [searchable]="true" bindLabel="search"
                                    placeholder="Seleccione producto" [(ngModel)]="nuevoDetalleProducto.producto" appendTo="body">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="cantidad" class="col-form-label">Cantidad</label>
                                <input (focusout)="nuevoDetalleProducto?.cantidad < 1 && nuevoDetalleProducto.cantidad = 0" [(ngModel)]="nuevoDetalleProducto.cantidad" type="number" class="form-control"
                                    id="cantidad" name="cantidad" min="0">
                            </div>
                        </div>
                        <div class="col-12" *ngIf="nuevoDetalleProducto?.producto != null && nuevoDetalleProducto?.cantidad != null && nuevoDetalleProducto?.cantidad > 0">
                            <p><b>Total</b> PYG {{nuevoDetalleProducto?.productoPrecio * nuevoDetalleProducto?.cantidad}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="guardarDetalle()" type="button" class="btn btn-primary btn-sm float-right"
                    data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>