<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-5 mb-3">Restaurantes</h2>
    </div>
    <div class="col-12">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th style="width: 40%;" scope="col">Nombre</th>
            <th style="width: 40%;" scope="col">Dirección</th>
            <th class="text-center" style="width: 20%;" scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let restaurant of restaurantes | paginate: { itemsPerPage: 10, currentPage: p }; index as j">
            <td>{{restaurant.nombre}}</td>
            <td>{{restaurant.direccion}}</td>
            <td class="text-center">
              <button [routerLink]="['/restaurantes', restaurant.id, 'grafico']" type="button" class="btn btn-link">Ver gráfico</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Anterior"
          nextLabel="Siguiente">
        </pagination-controls>
        <p *ngIf="restaurantes?.length==0" class="text-muted">No se encontraron resultados</p>
      </div>
    </div>
  </div>
</div>