/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

h1, h2, h3, h4, h5, h6, .catamaran, .btn {
    font-family: 'Catamaran', sans-serif;
}

a {
    cursor: pointer;
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.ng-select.ng-select-single .ng-select-container {
    height: 40px;
}

.ng-select .ng-select-container {
    min-height: 40px;
}